name: Upd fagramdesktop

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    
    steps:
    - name: Configure & push
      run: |
        git clone --mirror https://x-access-token:${{ secrets.PAT }}@github.com/burhancodes/fagramdesktop.git
        cd fagramdesktop.git
        git for-each-ref --format 'delete %(refname)' refs/pull | git update-ref --stdin
        git remote set-url --push origin https://x-access-token:${{ secrets.PAT }}@github.com/fagramdesktop/fagram.git
        git push --mirror --force
