name: Upd fagramdesktop

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    
    steps:
    - name: Configure & push
      run: |
        git clone --mirror https://x-access-token:${{ secrets.PAT }}@github.com/burhancodes/fagramdesktop.git
        git remote add mirror https://x-access-token:${{ secrets.PAT }}@github.com/fagramdesktop/fagram.git
        git remote set-url --push origin NO_PUSH
        git push mirror --mirror --force
        git remote remove mirror
